<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Add New Notes</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="content">
    <h1>Add New Gameassist Notes</h1>
    <form th:action="@{/gameassistant/save}" method="post">
      <div class="form-group">
        <label for="client">Client:</label>
        <select id="client" name="clientId" required>
          <option th:each="client : ${clients}" th:value="${client.id}"
            th:text="${client.firstName} + ' ' + ${client.lastName}">Client</option>
        </select>
      </div>
      <div class="form-group">
        <label for="game">Game:</label>
        <select id="game" name="gameId" required>
          <option th:each="game : ${games}" th:value="${game.id}" th:text="${game.gameName}">Game</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inUse">In Use:</label>
        <select id="inUse" name="inUse" required>
          <option value="true">YES</option>
          <option value="false">NO</option>
        </select>
      </div>
      <div class="form-group">
        <label for="thumbs">Good?:</label>
        <select id="thumbs" name="thumbs" required>
          <option value="true">YES</option>
          <option value="false">NO</option>
        </select>
      </div>
      <div class="form-group">
        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes" maxlength="255" required>
      </div>
      <div class="form-group">
        <button type="submit">SAVE</button>
        <a href="/gameassistant" class="a-button">CANCEL</a>
      </div>
    </form>
  </div>
  <footer>
    (c) Jaska 2025
  </footer>
</body>

</html>