<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Unispace&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="logo">
      <img src="/images/PAAlogo.png" alt="Logo" style="max-width: 100%; height: auto;">
    </div>
    <ul>
      <li><a href="/" th:href="@{/}">HOME</a></li>
      <li><a href="/client" th:href="@{/client}">CLIENTS</a></li>
      <li><a href="/location" th:href="@{/location}">LOCATIONS</a></li>
      <li><a href="/games" th:href="@{/games}">GAMES</a></li>
      <li><a href="/gameassistant" th:href="@{/gameassistant}">GAMEASSISTANT</a></li>
      <li><a href="/homegames" th:href="@{/homegames}">HOMEGAMES</a></li>
      <li><a href="/user" th:href="@{/user}">USERS</a></li>
    </ul>
  </nav>
  <div class="content">
    <h1>Welcome to the PELIAPURIAPPI</h1>
    <p>- This app is in beta testing</p>
    <p>- You can find all upcoming news and updates here</p>
    <p>- Please report bugs to test@test.test</p>
    <p>- Ideas are welcome to test@test.test</p>
    <img src="/images/kotisivukuva.png" style="max-width: 350px; height: auto;">
  </div>
  <footer>
    (c) Jaska 2025
  </footer>
</body>

</html>