<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="content">
    <h1>Welcome to the PELIAPURIAPPI</h1>
    <p>- This app is in beta testing</p>
    <p>- You can find all upcoming news and updates here</p>
    <p>- Please report bugs to test@test.test</p>
    <p>- Ideas are welcome to test@test.test</p>
    <img src="/images/kotisivukuva.png" style="max-width: 350px; height: auto;">
  </div>
  <footer>
    (c) Jaska 2025
  </footer>
</body>

</html>