<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Users</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="content">
    <h1>USERS</h1>
    <p>List of users of this Peliapuriappi.</p>
    <div class="action-buttons">
      <a title="Add New User" th:href="@{/user/add}">
        <i class="fas fa-plus add-icon"></i>
      </a>
      <p style="font-style: italic;"><b>Add new</b></p>
    </div>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Role</th>
          <th>Task</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.userName}">User Name</td>
          <td th:text="${user.role}">Role</td>
          <td th:text="${user.task}">Task</td>
          <td class="action-buttons">
            <form th:action="@{/user/delete/{id}(id=${user.id})}" method="post"
              th:onsubmit="return confirm('Do you really want to delete this user?');">
              <button type="submit" class="delete-button" title="Delete">
                <i class="fas fa-trash-alt delete-icon"></i>
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer>
    (c) Jaska 2025
  </footer>
</body>

</html>